﻿
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/_LayoutPage1.cshtml";
}

<h1>Spin Login Form </h1>

<div class="clear-loading spinner">
    <span></span>
</div>

@if (ViewBag.Message.Length > 0)
{
    <br />
    <p style="color: white">@ViewBag.Message</p>
}

<div class="w3ls-login box box--big">
    <!-- form starts here -->
    <form method="POST">
        <div class="agile-field-txt">
            <label><i class="fa fa-user" aria-hidden="true"></i> Username </label>
            <input type="text" name="name" placeholder="Enter User Name" required="" />
        </div>
        <div class="agile-field-txt">
            <label><i class="fa fa-unlock-alt" aria-hidden="true"></i> password </label>
            <input type="password" name="password" placeholder="Enter Password" required="" id="myInput" />
            <div class="agile_label">
                <input id="check3" name="check3" type="checkbox" value="show password" onclick="myFunction()">
                <label class="check" for="check3">Show password</label>
            </div>
        </div>
        <!-- script for show password -->
        <script>
            function myFunction() {
                var x = document.getElementById("myInput");
                if (x.type === "password") {
                    x.type = "text";
                } else {
                    x.type = "password";
                }
            }
        </script>
        <!-- //end script -->
        <input type="submit" value="LOGIN">
    </form>
</div>

<!-- //form ends here -->
<!--copyright-->
<div class="copy-wthree">
    <p>
        © 2022 Project login and crud for Cleeven.  | Design by
        <a href="http://w3layouts.com/" target="_blank">Saghrouni Malek</a>
    </p>
</div>